@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');


:root {
  --light-green: rgb(225 236 166);
  --dark-green: rgb(168, 179, 104);
  --purple: rgb(114 72 238);
  --dark-purple:  rgb(99, 57, 225);
  --error-color: rgb(238 72 121);

  color: black;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  padding: 50px 50px 25px 50px;
}

h1 {
  font-family: 'Heebo', sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin: 0 30px 50px 30px;
  line-height: 1.15;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: center;
  max-width: 710px;
  align-items: center;
}

label {
  font-size: 15px;
}

label[for=showPassword],
.existing-account,
.existing-account a,
.existing-account a:visited {
  color: var(--dark-green);
}

button {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--purple);
  color: white;
  font-size: 18px;
  padding: 8px 24px;
}

button:hover {
  background-color: var(--dark-purple);
}

form > div {
  flex: 1;
  min-width: 250px;
  max-width: 450px;
  position: relative;
}

::placeholder, button, input {
  font-family: 'IBM Plex Sans', sans-serif;
}

.create-account {
  max-width: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.create-account button,
.create-account div {
  flex: 0 0 auto;
}

.content-container {
  background-color: rgb(255, 255, 240);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  min-height: calc(100vh - 125px);
  width: calc(100vw - 100px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.left-containter {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.image-container {
  background-image: url("rocket.svg");
  background-position: center;
  background-size: 90% 90%;
  flex: 1;
  min-height: 360px;
  min-width: 360px;
  background-repeat: no-repeat;
}

.form-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 40px;
  justify-content: center;
}

.show-password,
.requirements-message {
  align-items: center;
  display: flex;
  margin-top: 12px;
}

.show-password label {
  margin-left: 5px;
}

.requirements-message {
  color: rgb(238 72 121);
  font-size: 15px;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.cross,
.check {
  background-color: white;
  background-position: center;
  border-radius: 50%;
  display: block;
  height: 17px;
  opacity: 0;
  position: absolute;
  right: 10px;
  top: 38px;
  width: 17px;
}

.cross {
  background-image: url("cancel.svg");
}

.check {
  background-image: url("ok.svg");
}

/* Default field style */
input[type=text],
input[type=email],
input[type=password] {
  background-color: white;
  border-radius: 4px;
  border: 1px solid  var(--dark-green);
  display: block;
  font-size: 18px;
  margin-top: 10px;
  padding: 8px 32px 8px 8px;
  text-overflow: ellipsis;
  transition: background-color 0.5s;
  width: 100%;
}

/* Override default focus styles */
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border: 1px solid var(--light-green); 
  outline: 1.5px solid rgb(114 72 237);
}

/* Invalid field styles */
input:not(:focus):invalid {
  border: 1px solid var(--error-color);
  color: var(--error-color);
}

input:not(:focus):invalid ~ .cross,
input:not(:focus):invalid ~ .requirements-message {
  opacity: 100;
  transition: opacity 0.5s;
}

input:not(:focus):invalid ~ .check {
  opacity: 0;
}

/* Valid field styles */
input:not(:focus):valid {
  color: black;
}

input:not(:focus):valid ~ .check {
  opacity: 100;
  transition: opacity 0.5s;
}

input:not(:focus):valid ~ .cross,
input:not(:focus):valid ~ .requirements-message {
  opacity: 0;
}

/* Field styles when no data is present and the field is not in focus */
input:placeholder-shown,
input:not(:focus):placeholder-shown {
  background-color: var(--light-green);
  border: 1px solid  var(--dark-green);
}

/* Hide all validation while a field is in focus */
input:focus ~ .check,
input:focus ~ .cross,
input:focus ~ .requirements-message,
input:focus:invalid ~ .check,
input:focus:invalid ~ .cross,  
input:focus:invalid ~ .requirements-message,
input:focus:valid ~ .check,
input:focus:valid ~ .cross,
input:focus:valid ~ .requirements-message {
  opacity: 0;
}

/* Hide all validation when there's a placeholder */
input:placeholder-shown ~ .check,
input:placeholder-shown ~ .cross,
input:placeholder-shown ~ .requirements-message,
input:placeholder-shown:invalid ~ .check,
input:placeholder-shown:invalid ~ .cross,
input:placeholder-shown:invalid ~ .requirements-message, 
input:placeholder-shown:valid ~ .check,
input:placeholder-shown:valid ~ .cross,
input:placeholder-shown:valid ~ .requirements-message {
  opacity: 0;
}

/* Footer styles */
footer {
  margin-top: 30px;
}

footer,
footer a,
footer a:hover {
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  text-decoration: none;
}